body {
  background-color: rgb(206, 206, 206);
}

h1 {
  text-align: center;
  background-color: rgb(235, 234, 234);
  width: 150px;
  border: 5px solid rgb(185, 185, 185);
  padding: 5px;
  margin: 4px;
}

h2 {
  text-align: center;
  font-size: 17px;
}

p {
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100%;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px;
}

.row::after {
  display: table;
  clear: both;
}

#a {
  quotes: "'" "'";
  font: italic 12px/30px Georgia, serif;
}

#b {
  quotes: "'" "'";
  font: italic 12px/30px Georgia, serif;
}

.nav {
  background-color: rgb(179, 179, 178);
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.nav li {
  display: inline-block;
  font-size: 20px;
  padding: 20px;
}
